<p>This is an cookie info page.</p>

<p>
<span id="ci-necessary">N0</span> <span id="ci-functional">F0</span> <span id="ci-performance">P0</span> <span id="ci-advertising">A0</span>
</p>

<script type="text/plain" data-cookiefirst-category="necessary" src="https://cc.pc-cdn.de/all/ci-necessary.js"></script>
<script type="text/plain" data-cookiefirst-category="functional" src="https://cc.pc-cdn.de/all/ci-functional.js"></script>
<script type="text/plain" data-cookiefirst-category="performance" src="https://cc.pc-cdn.de/all/ci-performance.js"></script>
<script type="text/plain" data-cookiefirst-category="advertising" src="https://cc.pc-cdn.de/all/ci-advertising.js"></script>

<div id="cookiefirst-policy-page"></div>
  <div>Diese Cookie-Richtlinie wurde erstellt und aktualisiert von der Firma <a href="https://cookiefirst.com">CookieFirst.com</a>.</div>
<div id="cookiefirst-cookies-table"></div>
  <div>Diese Cookie-Tabelle wurde erstellt und aktualisiert von der <a href="https://cookiefirst.com">CookieFirst consent management platform</a>.</div>
