<footer class="footer-main">

<a data-toggle="collapse" href="#imprintanddisclaimer"
aria-expanded="false"
aria-controls="imprintanddisclaimer">
Kontakt</a>
</small>
<div class="card card-body collapse" id="imprintanddisclaimer" style="max-width: 40rem">

<nav class="site-nav">
<ul>
<li><a href="https://goto.pc-cdn.de/kontakt"							 style="text-decoration:none; ">Kontaktformular</a></li>
<li><a href="https://goto.pc-cdn.de/impressumps"      			 style="text-decoration:none; ">Impressum</a></li>
<li><a href="https://goto.pc-cdn.de/haftungsausschluss"    style="text-decoration:none; ">Haftungsausschluss</a></li>
<li><a href="https://goto.pc-cdn.de/datenschutz"     		   style="text-decoration:none; ">Datenschutz</a></li>
<li><a href="https://goto.pc-cdn.de/quellenangaben"        style="text-decoration:none; ">Quellennachweise</a></li>
<li><a href="/cookieinfo.html" 														 style="text-decoration:none; ">Cookie-Infos</a></li>
</nav>
</div>
</ul>    {{ site.name }} © {{ site.time | date: '%Y' }}
</footer>


  
<script src="/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/bootstrap.min.css" crossorigin="anonymous">
