<div class="main">
    {% for post in site.posts %}
    {% if page.iscategorylink  or post.iscategorylink  or iscategorylink %}
  <span id="{{ post.title }}"><a href="{{ site.url }}/index.html#{{ post.title }}" class="button" target="_self" style="background-color: #{{  post.linkbgcolor | default: "637d96" }} !important; 
      color: #{{ post.linkcolor | default: "ffffff" }} !important; 
      a:link {color: #{{ post.linkcolor | default: "ffffff" }} !important;
      a:active {color: #{{ post.linkcolor | default: "ffffff" }} !important;
      a:hover {color: #{{ post.linkcolor | default: "ffffff" }} !important;
      a:visited {color: #{{ post.linkcolor | default: "ffffff" }} !important;
      }">📂 {{ post.title }}</a></span>
    {% else %}z
  <a href="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}"                    class="button" target="_blank" style="background-color: #{{ post.linkbgcolor | default: "000000" }} !important; color: #{{ post.linkcolor | default: "617992" }} !important;">{{ post.title }}</a>
    {% endif %}
  {% endfor %}
</div>
