  <a href="{{ site.url }}{{ site.baseurl }}"    class="button" target="_blank" style="
      background-color: #{{ post.linkbgcolor | default: "000000" }} !important; 
      color: #{{ post.linkcolor | default: "617992" }} !important; 
      a {color: #{{ post.linkcolor | default: "617992" }} !important};
      a:link {color: #{{ post.linkcolor | default: "617992" }} !important};
      a:active {color: #{{ post.linkcolor | default: "617992" }} !important};
      a:focus {color: #{{ post.linkcolor | default: "617992" }} !important};
      a:hover {color: #{{ post.linkcolor | default: "617992" }} !important};
      a:visited {color: #{{ post.linkcolor | default: "617992" }} !important};
      ">..</a>
