<nav role="navigation">
  <div id="menuToggle" class="sticky">
    <a href="https://www.pfeifferch.eu"><i class="fas fa-home"></i>Home</a>
    <a href="https://www.pfeifferch.eu"><i class="fas fa-home"></i></a>
  </div>
</nav>

<link rel="stylesheet" href="{% if site.templateserverurl %}{{ site.templateserverurl }}{% else %}https://template.pc-cdn.de{% endif %}/assets/fontawesome/css/all.css">

<style>
 div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -200;
  padding: 0px;
  /*
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  */
 }
  
</style>
